<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net48" />
  <package id="AODL" version="1.2.0.1" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="HtmlPageBuilder" version="1.0.0.2" targetFramework="net48" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net48" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net48" />
  <package id="IronOcr" version="2020.12.2" targetFramework="net48" />
  <package id="IronOcr.Languages.German" version="2020.11.2" targetFramework="net48" />
  <package id="IronOcr.Languages.Spanish" version="2020.11.2" targetFramework="net48" />
  <package id="IronPdf" version="2021.1.29" targetFramework="net48" />
  <package id="IronPdf.Assets.Rendering.Windows" version="21.0.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net48" />
</packages>